body {
  background-color: #121B31;
}

.App {
  text-align: left;
  margin: 1rem;
  background-color: #1E293B;

  padding: 2rem;
  border-radius: 5px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.search-container {
  display: flex;
  min-width: 0;
  flex: 1 1 auto;
  align-items: center;
}

.modal {
  margin: 0 auto;
  width: 100%;
  max-width: 47.375rem;
  display: flex;
  flex-direction: column;
  min-height: 0;
  border-radius: 0.5rem;

  background: #1e293b;
  box-shadow: inset 0 1px 0 0 rgb(255 255 255 / 5%);


}

.item-container {
  padding: 1rem 1rem;
  background-color: #233143;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  color: #94A3B8;
  display: flex;
  justify-content: space-between;
}

.item-container:hover {
  background-color: #0084C7;
  color: white;
  cursor: pointer;
}

.icon-container {
  padding: 0.2rem;
  background-color: #334154;
  margin-right: 1rem;
  border-radius: 0.3rem;
  border: 1px solid #334154;
}

.item-container:hover .icon-container {
  background-color: #0084C7;
  border: 1px solid #4C9DD3;
}